<% layout("/layouts/boilerplate") %>

 <div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit your Listing</h3>
        <form method="POST" action="/listings/<%= listing._id%>?_method=PUT"> 
            <!-- //to convert this post to put we use package method overide -->
            <div class="mb-2">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" name="listing[title]" value="<%= listing.title   %>" type="text">
            </div>
          
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea id="" class="form-control" name="listing[description]" ><%= listing.description   %></textarea>
            </div>
    
            <div class="mb-2">
                <label for="image" class="form-label">image Link</label>
                <input class="form-control" name="listing[image]" value="<%= listing.image   %>"  type="text">
            </div>
            
            <div class="row">
                <div class="mb-2 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" name="listing[price]" value="<%= listing.price   %>" type="number">
                </div>
                
                <div class="mb-2 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input class="form-control" name="listing[country]" value="<%= listing.country   %>" type="text">
                </div>
            
            </div>

            <div class="mb-2">
                <label for="location" class="form-label">Location</label>
                <input class="form-control" name="listing[location]" value="<%= listing.location   %>" type="text">
            </div>
    
          
            <button class="btn btn-dark editbtn mt-3">Edit</button>
        </form>

    </div>
   
 </div>
    

